<template>
    <div>
        <div class="alert alert-primary text-center" v-if="processing">
            <i class="fa fa-compass"></i> Procesando petición......
        </div>
        <!--referencia, :columns = es un variable , columns = es un string-->
        <v-server-table ref="table" :columns="columns" :url="url" :options="options">
            <!--cogemos la colummna activate_deactivate -->
            <!--Para los cursos que estan aprobados ===1
            se puede recharzar con el evento click updateStatus(props.row, 3) -->
            <div slot="activate_deactivate" slot-scope="props">
                <button
                        v-if="parseInt(props.row.status) === 1"
                        type="button"
                        class="btn btn-danger btn-block"
                        @click="updateStatus(props.row, 3)"
                >
                    <i class="fa fa-ban"></i> {{ labels.reject }}
                </button>
                <!--Para los cursos que estan rechazados
                se puede aprobar con el evento click updateStatus(props.row, 3) -->
                <button
                        v-else
                        type="button"
                        class="btn btn-success btn-block"
                        @click="updateStatus(props.row, 1)"
                >
                    <i class="fa fa-rocket"></i> {{ labels.approve }}
                </button>
            </div>

            <div slot="status" slot-scope="props">
                <!--slot="status" => columna de status
                slot-scope="props" => su alcance -->
                <!--cambiamos los valores de 0 1 2 3-->
                <!--null Publicado pendiente rechazado
                esta formateo viene de la linea 105 -->
                {{ formattedStatus(props.row.status) }}
            </div>
            <!--Esto viene de la linea 101-->
            <!--@change permite cambiar de filtro cada vez que cambia la variable status-->
            <div slot="filter__status" @change="filterByStatus">
                <!--usamo el v-model="status"-->
                <!--Pero previamente lo declara en data
                 status: null,//por defecto sea null -->
                <select class="form-control" v-model="status">
                    <option selected value="0">Selecciona una opción</option>
                    <option value="1">Publicado</option>
                    <option value="2">Pendiente</option>
                    <option value="3">Rechazado</option>
                </select>
            </div>
        </v-server-table>
    </div>
</template>

<script>
        // importamos para hacer eventos al servidor para hacer
        //  cualquier accion por ejemplo un evento seria
        // cuando hacer click en un dropbox y te liste las campos
        import {Event} from 'vue-tables-2';
        export default {
            // nombre del componente
            props: {
    //            Datos de entrada
                labels: {
                    // tipo objetos
                    type: Object,
                    // requeridos
                    required: true
                },
                route: {
                    // tipo string
                    type: String,
                    required: true
                }
            },
            name: "courses",
            data () {
                return {
                    // booleano para saber si mostrar o no mientras
                    // esta procesando un peticion
                    processing: false,// muestra un mensaje
                    status: null,//por defecto sea null
                    url: this.route, // la url
                    // los campos que estaran disponibles
                    columns: ['id', 'name', 'status', 'activate_deactivate'],
                    // opciones
                    options: {
                        filterByColumn: true,// si filtraremos por colummna
                        perPage: 10, // de 10 de10
                        perPageValues: [10, 25, 50, 100, 500], // opciones para el desplegable
                        headings: { // los textos en la cabezera
                            id: 'ID',
                            name: this.labels.name,
                            status: this.labels.status,
                            activate_deactivate: this.labels.activate_deactivate,
                            approve: this.labels.approve,
                            reject: this.labels.reject,
                        },
                        customFilters: ['status'],// filtro personalizado para status
                        sortable: ['id', 'name', 'status'],// ordenar por colummna
                        filterable: ['name'],// filtrar texto osea introducciendo texto a la caja
                        //
                        requestFunction: function (data) {
                            // para pedir datos al servidor
                            return window.axios.get(this.url, {
                                // paramas sera la data
                                params: data
                            })
                            .catch(function (e) {
                                // si es que hay un error
                                //capturar con el catch
                                this.dispatch('error', e);
                                // carle contexto con bind()
                            }.bind(this));
                        }
                    }
                }
            },
            methods: {
                // emitir un evento que se refiere al customFilters para filtrar (linea 57) y ademas
                // enviara al servidor una peticion para hacer un filtro por status cuando hacemos click
                // en el desplegable
                filterByStatus () {
                    parseInt(this.status) !== 0 ? Event.$emit('vue-tables.filter::status', this.status) : null;
                },
                // para coger los estados formateados
                formattedStatus (status) {
                    const statuses = [
                        null,
                        'Publicado',
                        'Pendiente',
                        'Rechazado'
                    ];
                    // por ultimos retornamos el estado que le estamos pasando
                    return statuses[status];
                },

                // updateStatus como arriba lo declare
                // donde me recibe (la fila , el nuevo status)
                updateStatus: function (row, newStatus) {
                    // que muestra la peticicon con el mensaje
                    // Procesando petición... como esta al iniciar el codigo
                    // v-if="processing" le vamos a decir que muestre el me
                    this.processing = true;
                    // un setTimeout para que haga la peticion y se demore 1.5 sec
                    // this.$http.post metodo post eso esta en web.php (ruta)
                    setTimeout(() => {
                        this.$http.post(
                            '/admin/courses/updateStatus',
                            // pasarle los datos en forma de objeto
                            {courseId: row.id, status: newStatus},
                            {
                                // pasandole el header
                                headers: {
                                    'x-csrf-token': document.head.querySelector('meta[name=csrf-token]').content
                                }
                            }
                        )
                            // responde => respuesta del servidor
                            .then(response => {
                                // para que refresque la tabla luego de
                                // cambiar el estado
                                this.$refs.table.refresh();
                            })
                            .catch(error => {

                            })
                            .finally(() => {
                            // finaliza el proceso
                                this.processing = false;
                            });
                    }, 1500);
                }
            }
        }
</script>

<style>
    .table-bordered>thead>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>tfoot>tr>td {
        text-align: center !important;
    }
</style>