<template>
    <!-- : => significa una variable tanto  :stripe-key y  :product  que
    luego en props vamos a crear esas variables y el stripe-key sera llamado desde
     el archivo .env -->
    <stripe-checkout
            button="Suscribirme"
            buttonClass="btn btn-course"
            :stripe-key="stripe_key"
            :product="product"
    >
    </stripe-checkout>
</template>

<script>
    // Importamos el StripeCheckout y lo llamomos asi
    import { StripeCheckout } from 'vue-stripe';
//    Recuerda habilitar NPM y javascript version 6  en php storm
    export default {
        components: {
            StripeCheckout
        },
        name: "stripe-form",
        // https://github.com/matfish2/vue-stripe/blob/master/src/StripeCheckout.vue
        // algunos props lo tenemos aqui la cual se creara a partir de la variables que creastes en
        //  <stripe-checkout
        props: {
            stripe_key: '',
            name: '',
            amount: '',
            description: ''
        },
        // Para definir el algunos datos que sea dinamicos  del producto  como
        // el nombre
        // amount : cantidad en este caso sera precio
        // por ultimo la descripcion
        computed: {
            // en este caso se llamara product la cual
            // la declare arriba en <stripe-checkout  :product="product>">
            product () {
                return {
                    name: this.name,
                    // con parseFloat => convierte de coma flotante
                    amount: parseFloat(this.amount),
                    description: this.description
                }
            }
        }
    }
</script>